@use '../../styles/variables';
@use '../../styles/global';

.Header {
  padding: 50px 0;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: variables.$dark-main;
    font-size: 1.8rem;
    font-weight: 800;
  }
}

.Nav {
  &__list {
    list-style-type: none;
  }

  &__list-item {
    display: inline-block;
    &:last-child {
      margin-left: 80px;
    }
  }

  &__link {
    color: variables.$dark-main;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.45;

    &--active,
    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .Header {
    padding: 30px 0;

    &__wrapper {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
    }

    &__logo {
      margin-bottom: 15px;
    }
  }
}
